<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554723483850-njjl8nnjvrri2cim2ldqoksigp3u8el0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554723483850-njjl8nnjvrri2cim2ldqoksigp3u8el0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554723483850-atoa83nf8jh4b7uu2bftpjp990c9v90t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlc5H-wXPC7I_8tUPSvnLm24grhqedVpc</string>
	<key>GCM_SENDER_ID</key>
	<string>554723483850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example807.freshIn</string>
	<key>PROJECT_ID</key>
	<string>freshin-d12dd</string>
	<key>STORAGE_BUCKET</key>
	<string>freshin-d12dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554723483850:ios:cb74f494789109eeb81433</string>
</dict>
</plist>